.formDetails__card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #2a3142;
  background-clip: border-box;
  border: #2e3648;
  border-radius: 0.25rem;
  margin-bottom: 24px;
  box-shadow: 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  padding: 12px 17px;
}
.formDetails__card-bg {
  background-color: #62bfd4;
}
@media (max-width: 400px) {
  .formDetails__textfield {
    width: auto !important;
    /* must have fixed width for transition to work */
    /* width: 100px !important;
    transition: width 1s ease-in-out !important; */
  }
}

.app__logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  line-height: 80px;
  /* width: 74px;
  height: 74px;
  line-height: 74px; */
  background: #2a3142;
  border-radius: 50%;
  border-bottom: 2px solid #62bfd4;
}
.app__logo img {
  width: 45px;
  /* height: 45px; */
  height: auto;
}
.app__formButton {
  margin: 15px;
  /* background-color: #62bfd4 !important;  */
}
.app__registerButton {
  font-weight: 500;
  color: #62bfd4;
}
h5 {
  font-size: 20px;
  color: #fff;
}
p {
  color: hsla(0, 0%, 100%, 0.7);
}
form input {
  color: hsla(0, 0%, 100%, 0.7) !important;
  background-color: rgba(0, 0, 0, 0) !important;
}
